* {
margin: 0px;
padding: 0px;
background-image: url("imagenes/fondo.png");
}

H1 {font-size: 60px}
.texto1 {font-size:20px; color: #ff0000;}

#cabecera {
background: #FFFBB9;
border: 1px solid #999999;
padding: 20px;
border-radius: 20px;
}	
#menu {
background: #CCCCCC;
padding: 0px 20px;
}
#seccion {
float: left;
width: 70%;
margin: 20px;
}
#columna {
float: left;
width: 20%;
margin: 20px 0px;
padding: 20px;
background: #CCCCCC;
font: italic 14px verdana, sans-serif;
box-shadow: rgb(150,150,150) 5px 5px;
}	
#pie {
clear: both;
text-align: center;
padding: 20px;
border-top: 2px solid #999999;
}
#cuerpo {
	background-image: url("../imagenes/fondo.jpg");
	background-size: 100%;
	background-attachment: fixed;
	color: hsla(120, 100%, 50%, 0.5);
}