#cabecera {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #215574;
    padding: 8px;
}

#banderas{
    margin-right: auto;
}

#contacto{
    margin-left: auto;
    margin-right: auto;
}

#nombre{
    margin-left: auto; 
    color: aliceblue;
}

#practica{
    border-color: black;
    border-style: solid;
    text-align: center;
    background-color: #215574;
}

body {
    color: aliceblue;
    padding: 5px;
    
}

 footer {
    text-align: center;
 }

 #tituloFormulario{
    text-align: center;
    color: black;
    font-size: 40px;
 }

 #situacion{
    color: black;
    font-size: 20px;
 }

 #botonFormulario{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
 }

 #ficheroSeleccionado{
    color: black;
 }

 #textoProteccion{
    color: black;
    font-size:10px;
 }
